body {
	background-image: url(../images/grey_wash_wall.png);
}

.card {
	padding: 15px;
	margin-top: 15%;
	width: 35%;
	text-align: center;
}

#startbutton {
	width: 50%;
}

#questionNumber {
	text-align: center;
	margin-bottom: 10px;
	background-color: blue;
	color: white;
	border: solid 2px white;
	border-radius: 8px;
/*	background: red;
*/}

#question {
	text-align: center;
	margin-bottom: 10px;
	background-color: white;
	border: solid 2px white;
	border-radius: 8px;
	/*	background: blue;
*/}

#timeleft {
	text-align: center;
	margin-bottom: 10px;
	background-color: orange;
	color: white;
	border: solid 2px white;
	border-radius: 8px;
	/*	background: yellow;
*/}

.list-group {
	text-align: center;
	width: 50%;
}

.container {
	margin-top: 12%;
}

#timeleft, #questionNumber, #question {
	font-size: 30px;
}