body {
	background-image: url(../images/grey_wash_wall.png);
}

.card {
	padding: 15px;
	margin-top: 15%;
	width: 35%;
	text-align: center;
}

#startbutton {
	width: 50%;
}

#questionNumber {
	text-align: center;
	background: red;
}

#question {
	text-align: center;
	background: blue;
}

.col-md-4 {
	text-align: center;
	background: yellow;
}

.list-group {
	text-align: center;
	width: 50%;
}

.container {
	margin-top: 12%;
}
